@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
body {
  margin: 0;
  padding: 0; }

#hero {
  background: url("../img/first.png");
  background-size: cover;
  width: 2560px;
  height: 1866px; }
  #hero .menu {
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 76px 0 55px; }
    #hero .menu a {
      padding-right: 55px;
      font-family: Roboto;
      font-size: 24px;
      color: #FFF; }
    #hero .menu a:last-child {
      padding-right: 0px; }
    #hero .menu a:hover {
      color: #D7168C; }
    #hero .menu .navigation {
      width: 1342px; }
    #hero .menu .nav {
      width: 144px;
      height: 60px;
      border: 4px solid rgba(215, 22, 140, 0.3);
      border-radius: 15px;
      font-family: Roboto;
      font-size: 22px;
      font-weight: 700;
      color: #D7168C;
      background: #001653; }
    #hero .menu button:hover {
      color: #fff; }
  #hero .enterprise {
    padding: 356px 100px 0 100px;
    font-family: Roboto;
    font-size: 100px;
    font-weight: 300;
    color: #FFF;
    text-align: center;
    letter-spacing: 4px;
    line-height: 115px; }
  #hero .b {
    font-family: Roboto;
    font-weight: 400; }

#office {
  width: 2560px;
  height: 1852px;
  background: url("../img/second.png");
  background-size: cover;
  margin-top: -244px; }

#video {
  width: 2560px;
  height: 3132px;
  background: url("../img/video.png");
  background-size: cover; }
  #video .inv {
    padding-top: 357px; }
    #video .inv .gooee {
      font-family: Lato;
      font-size: 80px;
      font-weight: 400;
      color: #FFF;
      text-align: center; }
    #video .inv .vd {
      padding: 314px 570px 0 630px; }
    #video .inv .text {
      display: flex;
      flex-direction: row;
      padding: 292px 179px 0 164px; }
    #video .inv .tleft {
      width: 1300px;
      padding-right: 100px;
      text-align: right;
      font-family: Roboto;
      font-size: 58px;
      font-weight: 100;
      line-height: 100px;
      color: #FFF; }
    #video .inv .tright {
      width: 1270px;
      font-family: Roboto;
      font-size: 58px;
      font-weight: 100;
      line-height: 100px;
      color: #FFF; }

#real_time {
  height: 2412px;
  width: 2560px;
  background: url("../img/Animated.png");
  background-size: cover; }
  #real_time .h1 {
    padding-top: 280px; }
    #real_time .h1 .platform {
      font-family: Roboto;
      font-size: 77px;
      font-weight: 100;
      color: #0E1A35;
      text-align: center; }
  #real_time .h2 {
    padding: 55px 648px 0 649px;
    font-size: 23px;
    text-align: center;
    color: #8492AF; }
    #real_time .h2 .lorem {
      @inxlude lorem;
      line-height: 40px; }
  #real_time .indentation {
    margin: 320px 358px 0 325px; }
    #real_time .indentation .lefttext {
      height: 220px;
      width: 1280px;
      font-family: Roboto;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around; }
      #real_time .indentation .lefttext .predective {
        font-size: 30px; }
      #real_time .indentation .lefttext .lorem {
        font-size: 23px;
        font-weight: 400;
        line-height: 30px;
        color: #8492AF;
        line-height: 30px;
        color: #8492AF; }
    #real_time .indentation .righttext {
      margin-top: 150px;
      margin-left: 596px;
      height: 220px;
      width: 1280px;
      align-items: flex-end;
      text-align: right;
      font-family: Roboto;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around; }
      #real_time .indentation .righttext .smart {
        font-size: 30px; }
      #real_time .indentation .righttext .lorem {
        font-size: 23px;
        font-weight: 400;
        line-height: 30px;
        color: #8492AF;
        line-height: 30px;
        color: #8492AF; }

#cloud {
  width: 2560px;
  height: 7092px;
  background: url("../img/cloud.png");
  background-size: cover; }
  #cloud .ecosystem {
    padding: 270px 525px 0 545px;
    font-family: Lato;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    line-height: 115px; }
  #cloud .features {
    margin: 338px 647px 0 649px;
    font-family: Roboto;
    text-align: center; }
    #cloud .features .award {
      font-size: 76px;
      color: #45B1F5;
      font-weight: 100;
      padding-bottom: 60px; }
    #cloud .features .lorem {
      color: #45B1F5;
      font-size: 23px;
      font-weight: 200;
      line-height: 40px; }
  #cloud .eyes {
    margin: 278px 215px 0 204px;
    display: inline-flex; }
    #cloud .eyes .predective_analystic {
      font-family: Roboto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 269px; }
      #cloud .eyes .predective_analystic .img {
        padding-bottom: 115px;
        width: 187px; }
      #cloud .eyes .predective_analystic .caption1 {
        font-size: 38px;
        color: #fff;
        font-weight: 500;
        padding-bottom: 70px; }
      #cloud .eyes .predective_analystic .caption2 {
        font-size: 35px;
        font-weight: 300;
        color: #45B1F5;
        text-align: center;
        line-height: 40px; }
    #cloud .eyes .energy_management {
      font-family: Roboto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 269px; }
      #cloud .eyes .energy_management .img {
        padding-bottom: 115px;
        width: 187px; }
      #cloud .eyes .energy_management .caption1 {
        font-size: 38px;
        color: #fff;
        font-weight: 500;
        padding-bottom: 70px; }
      #cloud .eyes .energy_management .caption2 {
        font-size: 35px;
        font-weight: 300;
        color: #45B1F5;
        text-align: center;
        line-height: 40px; }
    #cloud .eyes .beacon_management {
      font-family: Roboto;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #cloud .eyes .beacon_management .img {
        padding-bottom: 115px;
        width: 187px; }
      #cloud .eyes .beacon_management .caption1 {
        font-size: 38px;
        color: #fff;
        font-weight: 500;
        padding-bottom: 70px; }
      #cloud .eyes .beacon_management .caption2 {
        font-size: 35px;
        font-weight: 300;
        color: #45B1F5;
        text-align: center;
        line-height: 40px; }
  #cloud .clud_gooee {
    padding: 455px 642px 0 612px; }
  #cloud .after_cloud {
    font-family: Roboto;
    color: #fff;
    margin: 430px 647px 0 648px; }
    #cloud .after_cloud .sophisticated {
      font-size: 76px;
      font-weight: 100;
      padding-bottom: 60px;
      text-align: center; }
    #cloud .after_cloud .lorem {
      font-size: 23px;
      font-weight: 200;
      line-height: 40px;
      text-align: center; }
  #cloud .eyes_second {
    margin: 197px 215px 0 190px;
    display: inline-flex; }
    #cloud .eyes_second .smart_sensors {
      width: 550px;
      font-family: Roboto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 269px; }
      #cloud .eyes_second .smart_sensors .img {
        padding-bottom: 115px;
        width: 187px; }
      #cloud .eyes_second .smart_sensors .caption1 {
        font-size: 38px;
        color: #fff;
        font-weight: 500;
        padding-bottom: 70px; }
      #cloud .eyes_second .smart_sensors .caption2 {
        font-size: 35px;
        font-weight: 300;
        color: #45B1F5;
        text-align: center;
        line-height: 40px; }
    #cloud .eyes_second .wireless {
      width: 640px;
      font-family: Roboto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 205px; }
      #cloud .eyes_second .wireless .img {
        padding-bottom: 115px;
        width: 187px; }
      #cloud .eyes_second .wireless .caption1 {
        font-size: 38px;
        color: #fff;
        font-weight: 500;
        padding-bottom: 70px; }
      #cloud .eyes_second .wireless .caption2 {
        font-size: 35px;
        font-weight: 300;
        color: #45B1F5;
        text-align: center;
        line-height: 40px; }
    #cloud .eyes_second .iot {
      font-family: Roboto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 550px; }
      #cloud .eyes_second .iot .img {
        padding-bottom: 115px;
        width: 187px; }
      #cloud .eyes_second .iot .caption1 {
        font-size: 38px;
        color: #fff;
        font-weight: 500;
        padding-bottom: 70px; }
      #cloud .eyes_second .iot .caption2 {
        font-size: 35px;
        font-weight: 300;
        color: #45B1F5;
        text-align: center;
        line-height: 40px; }
  #cloud .news {
    padding: 1300px 856px 0 850px; }
    #cloud .news .trending {
      font-family: Roboto;
      color: #fff;
      font-size: 76px;
      font-weight: 200; }
  #cloud .img2 {
    display: flex;
    justify-content: space-between;
    padding: 165px 70px 0 58px; }

/*# sourceMappingURL=style.css.map */
